<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Dashboard</title>


    <style>
.container{
margin-top:70px;
display:flex;
justify-content:space-between;
}




    </style>


</head>
<body>


<div>
    <h1 class="text-center mt-5"> Improvement Learning Strategies</h1>
    <h1 class="text-center mt-3">“VARK”</h1>
</div>

<div class="container">

        <div class="card" style="width: 18rem;">
  <img src="/static/face_recognition_hr_attendance.png" class="card-img-top" alt="face-recognition">
  <div class="card-body">
    <h5 class="card-title text-center">face-recognition</h5>
      <p> this model classify students into recognised educational patterns The principles were used to classify students, and this was done by photographing them using cameras designated for that purpose and classifying each student individually based on the generally accepted principles.</p>
    <a href="/home" class="btn btn-info">Take-Attendance</a>
  </div>
</div>
        <div class="card" style="width: 18rem;">
  <img src="/static/0_6aEBXcTf3YxIOund.png" class="card-img-top" alt="sign-session">
  <div class="card-body">
    <h5 class="card-title text-center">sign-session</h5>
      <p>
           through which reactions are taken from students
after the lecture in real time, by photographing them using the cameras
designated for that. This allows those responsible for delivering the
information to know the extent of the student’s comprehension of the
scientific material.
      </p>
    <a href="/sign_session" class="btn btn-success">Detect-Sign-langauge</a>
  </div>
</div>
        <div class="card" style="width: 18rem;">
  <img src="/static/images.png" class="card-img-top" alt="Learning-Strategies">
  <div class="card-body">
    <h5 class="card-title text-center">Learning-Strategies "vark"</h5>
      <p>It takes photographs of students and photographs
them from different angles to identify them, verify their identity
recorded in the educational institution’s files, and verify their attendance
on the lecture date and at its correct timing.</p>
    <a href="#" class="btn btn-danger">Go somewhere</a>
  </div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>